@import "../variables";

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: @footer-height;
  overflow: hidden;
  z-index: @footer-z-index;

  background-color: @footer-background-color;
}
