<h1 class="title"><a href="/">blog.bouzuya.net</a></h1>
<nav>
  <i class="fa fa-list-ul menu-button"></i>
  <ul class="menu">
    <li><a href="/posts"><i class="fa fa-list"></i> posts</a></li>
    <li><a href="/tags"><i class="fa fa-tags"></i> tags</a></li>
    <li><a href="http://bouzuya.net" class="bouzuya">([:-P</a></li>
  </ul>
</nav>
