<div class="header-content">
    <h1>
        <a href="/" {%if page.pagetype == null %} class="current" {% endif %} ><span>bouzuya.github.com</span></a>
    </h1>
    <nav>
        <ul>
            <li><a href="/blog/" {% if page.pagetype == 'posts' %} class="current" {% endif %}><span>Blog</span></a></li>
            <li><a href="/project/" {% if page.pagetype == 'repos' %} class="current" {% endif %}><span>Project</span></a></li>
            <li><a href="/me/" {% if page.pagetype == 'me' %} class="current" {% endif %}><span>Me</span></a></li>
        </ul>
    </nav>
</div>
