@import './variables.less';

.body-region > .tags-page {
  width: 320px;
  margin: 0 auto;
  h1 { margin: @unit; }
  .tags > i { display: none; }
  .tag {
    display: block;
    line-height: 2;
  }
}
