@import './variables.less';

.tags {
  display: inline;
  font-size: 3/4rem;
  ul {
    display: inline;
    .tag {
      display: inline;
      .name {
        &:before { content: "[ "; }
        &:after { content: " ]"; }
      }
      .post-count {
        display: none;
      }
    }
  }
}
