@bouzuya-green: #fff;

@content-background-color: @bouzuya-green;
@entry-content-z-index: 0;
@entry-detail-background-color: @bouzuya-green;
@entry-detail-z-index: 3;
@entry-list-item-height: 72px;
@entry-title-z-index: 2;
@footer-background-color: @bouzuya-green;
@footer-height: 44px;
@footer-z-index: 10;
@header-background-color: @bouzuya-green;
@header-height: 44px;
@header-z-index: 10;
