@import "./colors";

@entry-content-z-index: 0;
@entry-detail-z-index: 3;
@entry-list-item-height: 72px;
@entry-title-z-index: 2;
@footer-height: 0;
@footer-z-index: 10;
@header-height: 44px;
@header-z-index: 10;
