<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0" />
        <link rel="icon" type="image/png" href="/images/favicon.png" />
        <link rel="alternate" type="application/atom+xml" href="/atom.xml" title="Atom feed" />
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:800" />
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.4.1/build/cssreset/cssreset-min.css" />
        <link rel="stylesheet" type="text/css" href="/styles/pygments.css" />
        <link rel="stylesheet" type="text/css" href="/styles/common.css" />
        <link rel="stylesheet" type="text/css" href="/styles/smartphone.css" media="only screen and (max-device-width:480px)" />
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
        <script type="text/javascript" src="/scripts/twitter.js"></script>
        <title>bouzuya.github.com - {{ page.title }}</title>

{% if site.hatena_star_enabled %}
{% include hatena_star.html %}
{% endif %}

    </head>
    <body>
        <div id="page">
            <header id="page-header">
                {% include header.html %}
            </header>
            <div id="page-body">
                {{ content }}
            </div>
            <footer id="page-footer">
                {% include footer.html %}
            </footer>
        </div>
    </body>
</html>
