<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="http://yui.yahooapis.com/3.4.1/build/cssreset/cssreset-min.css" type="text/css" />
        <link rel="stylesheet" href="/styles/pygments.css" type="text/css" />
        <link rel="stylesheet" href="/styles/common.css" type="text/css" />
        <title>{{ page.title }}</title>
    </head>
    <body>
        <header id="page-header">
            {% include header.html %}
        </header>
        <div id="page-body">
            {{ content }}
        </div>
        <footer id="page-footer">
            {% include footer.html %}
        </footer>
    </body>
</html>
