<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="alternate" type="application/atom+xml" href="/atom.xml" title="Atom feed" />
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:800" />
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.4.1/build/cssreset/cssreset-min.css" />
        <link rel="stylesheet" type="text/css" href="/styles/pygments.css" />
        <link rel="stylesheet" type="text/css" href="/styles/common.css" />
        <title>bouzuya.github.com - {{ page.title }}</title>

{% if site.hatena_star_enabled %}
{% include hatena_star.html %}
{% endif %}

    </head>
    <body>
        <header id="page-header">
            {% include header.html %}
        </header>
        <div id="page-body">
            {{ content }}
        </div>
        <footer id="page-footer">
            {% include footer.html %}
        </footer>
    </body>
</html>
