---
layout: default
---
<article>
    <header>
        <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
        <time pubdate="pubdate" datetime="{{ page.pubdate }}">{{ page.pubdate }}</time>
        <div class="tags">
            <ul>
                {% for tag in page.tags %}
                <li>{{ tag }}</li>
                {% endfor %}
            </ul>
        </div>
    </header>
    <section>
        {{ content }}
    </section>
    <footer>
        {% if site.hatena_bookmark_enabled %}
        {% include hatena_bookmark.html %}
        {% endif %}

        {% if site.twitter_enabled %}
        {% include twitter.html %}
        {% endif %}

        {% if site.disqus_enabled %}
        {% include disqus.html %}
        {% endif %}
    </footer>
</article>

{% if site.hatena_star_enabled %}
{% include hatena_star.html %}
{% endif %}


