html {
    color: #333333;
    background-color: #4e6a41;
    height: 100%;
}

body {
    overflow: scroll;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", sans-serif;
}

a {
    color: #35766c;
    background-color: inherit;
    text-decoration: underline;
}

a:hover {
    color: #ffffff;
    background-color: #35766c;
    text-decoration: none;
}

h1 a {
    color: #333333;
    background-color: #ffffff;
    text-decoration: none;
}

h1 a:hover {
    color: #333333;
    background-color: #ffffff;
}

#page-header {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3em;
    color: #333333;
    background-color: #4e6a41;
    z-index: 99;
}

#page-header .header-content {
    margin: 0 auto;
    padding: 0 1em;
    width: 800px;
    height: 100%;
    background-color: #afca9e;
    border-bottom: 0.5em solid #87ab75;
}

#page-header .header-content h1 {
    position: relative;
    margin: 0;
    padding: 0;
    width: 360px;
    height: 100%;
    float: left;
}

#page-header .header-content h1 span {
    display: block;
    position: absolute;
    top: 50%;
    margin: -0.5em 0 0 0;
    padding: 0;
    font-size: 120%;
    font-weight: bold;
}

#page-header .header-content h1 span:hover {
    color: #35766c;
}

#page-header .header-content nav {
    margin: 0;
    padding: 0;
    width: 440px;
    height: 100%;
    float: right;
}

#page-header .header-content nav ul {
    margin: 0;
    padding: 0;
    height: 100%;
}

#page-header .header-content nav ul li {
    display: block;
    margin: 0;
    padding: 0;
    width: 100px;
    height: 100%;
    float: left;
    text-align: center;
}

#page-header .header-content nav ul a {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #666666;
}

#page-header .header-content nav ul a span {
    display: block;
    position: absolute;
    top: 50%;
    margin: -0.5em 0 0 0;
    padding: 0;
    width: 100%;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
}

#page-header:hover .header-content nav ul a span {
    color: #35766c;
    text-decoration: underline;
}

#page-header:hover .header-content nav ul a:hover span {
    color: #ffffff;
}

#page-body {
    width: 800px;
    margin: 0 auto;
    padding: 3em 1em 3em 1em;
    color: #333333;
    background-color: #ffffff;
    clear: both;
    min-height: 100%;
}

#page-body section h1 {
    margin-top: 1em;
    font-size: 150%;
    font-weight: bold;
}

#page-body section section h1 {
    font-size: 120%;
}

#page-body section section section h1 {
    font-size: 100%;
}

#page-body ul {
    margin: 1em 0;
    list-style-type: none;
    padding-left: 3em;
}

#page-body ul li {
    color: #999999;
    line-height: 2;
}

#page-body dl {
    margin: 1em 0;
    padding-left: 2em;
}

#page-body dl dd {
    margin-bottom: 1em;
}

#page-body ol {
    list-style-type: decimal;
    margin: 1em 0;
    padding-left: 2em;
}

#page-body dd {
    margin-left: 3em;
}

#page-body article {
    width: 100%;
}

#page-body article .post-header {
    position: relative;
    height: 50px;
}

#page-body article .post-content {
    margin: 0 auto;
    width: 40em;
}

#page-body article .post-footer {
    position: relative;
    border-top: thin solid #333333;
}


#page-body article .post-header h1 a {
    color: #666666;
    text-decoration: none;
}

#page-body article .post-header:hover h1 a {
    color: #35766c;
    text-decoration: underline;
}

#page-body article .post-header:hover h1 a:hover {
    color: #ffffff;
    background-color: #35766c;
    text-decoration: none;
}

#page-body article .post-header h1 {
    margin-top: 1em;
    font-size: 120%;
    font-weight: bold;
}

#page-body article .post-header nav,
#page-body article .post-footer nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
}

#page-body article .post-header nav ul,
#page-body article .post-footer nav ul {
    margin: 0;
    padding: 0;
    width: 100%;
}

#page-body article .post-header nav ul li,
#page-body article .post-footer nav ul li {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 50px;
    list-style-type: none;
    text-align: center;
}

#page-body article .post-header nav:after,
#page-body article .post-footer nav:after {
    visibility: hidden;
    content: " ";
    display: block;
    clear: both;
}

#page-body section h1 { /* h2 */
    margin-bottom: 2em;
}

#page-body section section h1,
#page-body article > h1 { /* h3 */
    color: #333333;
    padding-left: 1em;
    margin-bottom: 2em;
}

#page-body article > h1 {
    font-size: 100%;
    font-weight: bold;
}

#page-body article h2 {
    margin-top: 1em;
    font-size: 100%;
    font-weight: bold;
    border-bottom: thin solid #333333;
}

#page-body article blockquote {
    margin-left: 2.5em;
    margin-right: 2.5em;
    padding-left: 0.5em;
    border-left: 3px solid #cccccc;
}

#page-body article p {
    margin: 1em 0;
    line-height: 1.4;
}

#page-body article time {
    color: #999999;
    background-color: #ffffff;
    font-size: 75%;
    margin: 0 0 0 0;
}

#page-body article pre {
    border: thin solid #999999;
    color: #333333;
    background-color: #f0f0f0;
    padding: 1em 0.5em 1em 0.5em;
    border-radius: 0.5em;
}

#page-body article p > code {
    border: thin solid #999999;
    color: #333333;
    background-color: #f0f0f0;
    padding: 0 0.5em 0 0.5em;
    border-radius: 0.5em;
}

#page-body article .tags {
    display: none;
}

#page-body #disqus_thread {
    font-size: 80%;
}

#page-footer {
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2.5em;
    color: #333333;
    background-color: #4e6a41;
    z-index: 99;
}

#page-footer .footer-content {
    margin: 0 auto;
    padding: 0 1em 0.5em 1em;
    width: 800px;
    color: #333333;
    background-color: #afca9e;
    border-top: 0.5em solid #87ab75;
    font-size: 100%;
}

#page-footer .footer-content span {
    font-size: 75%;
}

#page-footer a {
    color: #666666;
    text-decoration: none;
}

#page-footer:hover a {
    color: #35766c;
    text-decoration: underline;
}

#page-footer:hover a:hover {
    color: #ffffff;
    background-color: #35766c;
    text-decoration: none;
}
