.mixin-section-alpha {
  background-color: #4e6a41;
  color: #ffffff;
}
.mixin-section-bravo {
  background-color: #ffffff;
  color: #4e6a41;
}
.mixin-gradient {
  background: -webkit-linear-gradient(left, #4e6a41, #ffffff);
}
.mixin-anchor:hover a {
  text-decoration: underline;
}
.mixin-anchor a {
  text-decoration: none;
}
.mixin-content-anchor a {
  color: #3366ff;
}
.mixin-content-anchor a:hover {
  color: #ff6633;
}
.mixin-font-monospace {
  font-family: "Ubuntu Mono", monospace;
}
.mixin-font-sans-serif {
  font-family: "Open Sans", sans-serif;
}
.mixin-insert-before-content:before {
  content: "[";
  display: block;
  height: 0;
  visibility: hidden;
}
.mixin-page-header h1 {
  margin-top: 16px;
  line-height: 4;
}
.mixin-page-header h1 a {
  background-color: #ffffff;
  color: #4e6a41;
  display: block;
  width: 100%;
  padding-left: 16px;
  font-weight: bold;
}
.mixin-page-header h1 a:hover {
  color: #ffffff;
  background-color: #4e6a41;
}
html,
body {
  background-color: #4e6a41;
  color: #ffffff;
  height: 100%;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#page {
  width: 960px;
  height: 100%;
  margin: 0 auto;
}
#page #page-header {
  background-color: #4e6a41;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  height: 100%;
  width: 240px;
  text-align: center;
}
#page #page-header:hover a {
  text-decoration: underline;
}
#page #page-header a {
  text-decoration: none;
}
#page #page-header a {
  background-color: #4e6a41;
  color: #ffffff;
  border-radius: 16px 0 0 16px;
  display: block;
  width: 100%;
  text-align: right;
}
#page #page-header a:hover {
  background-color: #ffffff;
  color: #4e6a41;
}
#page #page-header a.current {
  background-color: #ffffff;
  color: #4e6a41;
}
#page #page-header a span {
  padding-right: 16px;
}
#page #page-header h1 {
  font-size: 125%;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 48px;
  line-height: 3.2;
}
#page #page-header h1 a span {
  padding: 0 8px;
}
#page #page-header ul {
  margin: 0 0 0 auto;
  width: 70%;
}
#page #page-header li {
  margin-bottom: 16px;
  line-height: 3;
}
#page #page-body {
  background-color: #ffffff;
  color: #4e6a41;
  width: 640px;
  min-height: 100%;
  margin-left: 240px;
  margin-top: 0;
  margin-right: 80px;
  margin-bottom: 0;
  padding-bottom: 16px;
}
#page #page-body:hover a {
  text-decoration: underline;
}
#page #page-body a {
  text-decoration: none;
}
#page #page-body a {
  color: #3366ff;
}
#page #page-body a:hover {
  color: #ff6633;
}
#page #page-body .post {
  position: relative;
}
#page #page-body .post:before {
  content: "[";
  display: block;
  height: 0;
  visibility: hidden;
}
#page #page-body .post .post-header {
  font-family: "Open Sans", sans-serif;
  margin: 16px 16px 48px 0;
}
#page #page-body .post .post-header h1 {
  margin-top: 16px;
  line-height: 4;
}
#page #page-body .post .post-header h1 a {
  background-color: #ffffff;
  color: #4e6a41;
  display: block;
  width: 100%;
  padding-left: 16px;
  font-weight: bold;
}
#page #page-body .post .post-header h1 a:hover {
  color: #ffffff;
  background-color: #4e6a41;
}
#page #page-body .post .post-header time {
  margin-left: 32px;
  font-size: xx-small;
}
#page #page-body .post .post-header .tags {
  display: inline;
}
#page #page-body .post .post-header .tags:after {
  content: "";
  visibility: hidden;
  clear: both;
}
#page #page-body .post .post-header .tags ul {
  display: inline;
}
#page #page-body .post .post-header .tags li {
  font-size: xx-small;
  display: inline;
}
#page #page-body .post .post-content {
  margin: 16px 16px 48px 16px;
}
#page #page-body .post .post-content:after {
  content: "[";
  display: block;
  height: 0;
  visibility: hidden;
}
#page #page-body .post .post-content h1,
#page #page-body .post .post-content h2,
#page #page-body .post .post-content h3,
#page #page-body .post .post-content h4,
#page #page-body .post .post-content h5,
#page #page-body .post .post-content h6 {
  margin: 16px 0;
  font-weight: bold;
}
#page #page-body .post .post-content p {
  margin: 16px 0;
  line-height: 1.5;
}
#page #page-body .post .post-content blockquote {
  border-radius: 16px 16px 16px 16px;
  margin: 16px 32px;
  padding: 16px;
  background-color: #AFCA9E;
}
#page #page-body .post .post-content ul {
  list-style-type: disc;
  margin-left: 48px;
}
#page #page-body .post .post-content ol {
  list-style-type: decimal;
  margin-left: 48px;
}
#page #page-body .post .post-content code {
  border-radius: 8px 8px 8px 8px;
  padding: 0 16px;
  background-color: #f8f8ff;
}
#page #page-body .post .post-content pre code {
  font-family: "Ubuntu Mono", monospace;
  border-radius: 8px 8px 8px 8px;
  display: block;
  margin: 16px;
  padding: 16px;
  background-color: #f8f8ff;
}
#page #page-body .post .post-content .gist .gist-file {
  border-style: none;
}
#page #page-body .post .post-content .gist .gist-data {
  border-radius: 8px 8px 8px 8px;
  font-family: "Ubuntu Mono", monospace;
  margin: 16px;
}
#page #page-body .post .post-footer {
  margin: 16px 16px 48px 16px;
  position: relative;
}
#page #page-body .post .post-footer nav {
  position: fixed;
  top: 0;
  right: 0;
  padding: 16px;
  background-color: #4e6a41;
}
#page #page-body .post .post-footer nav a {
  color: #ffffff;
  background-color: #4e6a41;
  text-decoration: none;
}
#page #page-body .post .post-footer nav a:hover {
  color: #4e6a41;
  background-color: #ffffff;
}
#page #page-body section {
  margin: 0 16px 48px 16px;
}
#page #page-body section:before {
  content: "[";
  display: block;
  height: 0;
  visibility: hidden;
}
#page #page-body section h1 {
  margin-top: 16px;
  line-height: 4;
}
#page #page-body section h1 a {
  background-color: #ffffff;
  color: #4e6a41;
  display: block;
  width: 100%;
  padding-left: 16px;
  font-weight: bold;
}
#page #page-body section h1 a:hover {
  color: #ffffff;
  background-color: #4e6a41;
}
#page #page-body section h1,
#page #page-body section h2,
#page #page-body section h3,
#page #page-body section h4,
#page #page-body section h5,
#page #page-body section h6 {
  margin: 16px 0;
  font-weight: bold;
}
#page #page-body section dd {
  margin-left: 16px;
}
#page #page-footer {
  position: fixed;
  top: 0;
  height: 100%;
  width: 80px;
  margin-left: 880px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-size: x-small;
}
#page #page-footer:hover a {
  text-decoration: underline;
}
#page #page-footer a {
  text-decoration: none;
}
#page #page-footer a {
  color: #ffffff;
}
#page #page-footer .footer-content {
  position: absolute;
  bottom: 0;
}
