@import "../variables";

.entry-title {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 16px 8px 72px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  font-size: 1.25rem;
  z-index: @entry-title-z-index;
}
