@import "../variables";

.entry-list-item {
  display: block;
  width: 100%;
  height: @entry-list-item-height;
  overflow: hidden;
  border-bottom: 1px solid @entry-list-border-color;
  transition: all 0.3s;
  position: relative;
}
